#navbar {
    /* margin: 2px 15px 2px 5px; */
    padding: 0px 35px 0px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:180px;
    background: url("../typingBack1.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.logoDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo{
    height: 45px;
    padding: 8px;
    border-radius: 50%;
}

#buttonLogo{
    background-color: transparent;
    padding: 0;
}

.logout{
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color:#a50241;
    cursor: pointer;
}